.text {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300; }
  .text-small {
    font-size: 16px; }
  .text-medium {
    font-size: 20px; }
  .text-large {
    font-size: 24px; }
  .text-xlarge {
    font-size: 36px; }
  .text-huge {
    font-size: 64px; }
  .text-icon {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8); }

.delay-1 {
  animation-delay: 0.5s; }

.delay-2 {
  animation-delay: 1s; }

.delay-3 {
  animation-delay: 1.5s; }

.delay-4 {
  animation-delay: 2s; }

.delay-5 {
  animation-delay: 2.5s; }

.delay-6 {
  animation-delay: 3s; }

/* 
  Responsive Breakpoints
  Inspired by https://medium.com/developing-with-sass/creating-a-dead-simple-sass-mixin-to-handle-responsive-breakpoints-889927b37740
*/
.navbar {
  background-color: #000126; }
  .navbar-brand {
    font-size: 28;
    font-family: "Lobster", cursive;
    color: rgba(255, 255, 255, 0.8); }
    .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
      color: white; }
  .navbar .nav-item {
    padding: 8px 10px; }
  .navbar .nav-link {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8); }
    .navbar .nav-link:hover, .navbar .nav-link:focus, .navbar .nav-link:active {
      color: white; }

.dropdown-toggle:after {
  border: 0;
  content: "\f3d0";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  vertical-align: 0; }

.section {
  width: 100%;
  min-height: 400px;
  padding: 60px 0;
  color: #FFFFFF; }
  .section-indigo {
    background-color: #000126; }
  .section-service {
    background-color: #090924;
    padding-bottom: 0; }
  .section-overlay {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg-hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    .section-overlay:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(2, 2, 33, 0.6);
      z-index: 0; }
    .section-overlay-inner {
      z-index: 100;
      text-align: center;
      color: #FFFFFF; }
      .section-overlay-inner img {
        width: 390px;
        height: auto; }
      .section-overlay-inner p {
        margin: 20px 0; }
    .section-overlay-button {
      margin-top: 40px; }
      .section-overlay-button .btn {
        margin: 0 5px; }

.btn {
  padding: 10px 32px;
  border-radius: 30px;
  border: 1px solid #1EB5EB; }
  .btn-info {
    background-color: #1EB5EB; }
    .btn-info:hover, .btn-info:focus, .btn-info:active {
      color: #FFFFFF;
      border: 1px solid #1EB5EB;
      background-color: #14abe1; }
  .btn-outline-info {
    background-color: transparent;
    color: #1EB5EB; }
    .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
      color: #FFFFFF;
      border: 1px solid #1EB5EB;
      background-color: #14abe1; }
  .btn-outline-white {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
      color: #FFFFFF;
      border: 1px solid #1EB5EB;
      background-color: #14abe1; }

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .grid-item {
    width: calc(100% / 3);
    height: 300px;
    position: relative;
    overflow: hidden; }
    .grid-item img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      height: auto;
      transition: all 0.8s ease; }
    .grid-item:hover > .grid-overlay {
      opacity: 1; }
    .grid-item:hover > img {
      filter: grayscale(100);
      transform: scale(1.2) translateX(-40%) translateY(-40%); }
  .grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(9, 9, 36, 0.6);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 60px;
    opacity: 0;
    transition: opacity 0.3s ease; }
  .grid-title {
    font-size: 28px; }
  .grid-description {
    font-size: 14px;
    margin: 20px 0; }

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: #020221; }

/*# sourceMappingURL=main.css.map */
