@import

// core
'core/color',
'core/fonts',
'core/text',
'core/animate',
'core/responsive',

// components
'components/navbar',
'components/hero',
'components/section',
'components/timer',
'components/button',
'components/card',
'components/grid';

// global style
body {
  font-family: $quicksand;
  font-size: 16px;
  background-color: $dark;
}