@import

// core
'color',
'fonts',
'text',
'animate',

// components
'navbar',
'hero',
'section',
'timer',
'button',
'card';

// global style
body {
  font-family: $quicksand;
  font-size: 16px;
  background-color: $dark;
}